body{
    overflow-y: hidden;
    overflow-x: hidden;
}

#top{
    margin: 0;
    overflow:hidden;
}

#middle{
    background-color: #F1EFE7;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    overflow:hidden;
}


#bottom{
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 30px;
    padding-left: 230px;
    padding-right: 100px;
    overflow:hidden;
}

#homelogo{
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px; 
    
}

#button1{
    float: right;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 30px;
}

#button2{
    float: right;
    margin-top: 20px;
    margin-right: 70px;
}

#b1{
    padding: 0%;
    background: none;
    font-size: 30px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#b1:hover{
    text-decoration: underline;
}

#cake{
    width:180px;
    float:left;
    margin-left: 50px;
}
#sky{
    width: 180px;
    margin-top: 70px ;
    padding-left: 20px;
}
#maintext{
    float:right;
    margin-right: 220px;
}
#mainbig{
    font-size:55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}
#mainsmall{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#navigate{
    padding:0;
    background:none;
    border: none;
    margin-left:150px;
    width: 120px;
}
#navigate:hover{
    background:rgb(247, 247, 247)
}
#plan{
    width: 50px;
}
#btntext{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}