@font-face {
    font-family: 'League Spartan Bold';
    src: url('LeagueSpartan-Bold.ttf');
}
@font-face {
    font-family: 'League Spartan Regular';
    src: url('LeagueSpartan-Regular.ttf');
}

body {
    margin: 0;
    overflow: hidden;
    display: flex;
    height: 100vh;
}

#left_sidebar {
    width: 300px;
    background: #F1EFE7;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 100%;
    height: auto;
}

#main_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header {
    font-family: 'League Spartan Bold';
    font-size: 80px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input[type=email] , input[type=password] {
    font-family: 'League Spartan Regular';
    padding: 10px;
    width: 50%;
    margin-bottom: 20px;
    border: 1px solid #CFCFCF;
    font-size: 20px;
    box-sizing: border-box;
}

#login {
    width: 50%;
    padding: 15px;
    font-family: 'League Spartan Regular';
    color: #8C756A;
    background-color: #F1EFE7;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
#forgot_password {
    position: flex;   
    font-family: 'League Spartan Regular';
    font-size: 14px;
    color: #8C756A;
    text-decoration: none;
    width: 50%;
    text-align: right;
    font-size: 20px;

}
#social_login {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    align-items: center;
}

#facebooklogin {
    width: 30%;
}

p {
    font-family: 'League Spartan Regular';
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

p a {
    color: inherit;
    text-decoration: underline;
}
