@font-face {
    font-family: 'League Spartan Bold';
    src: url(LeagueSpartan-Bold.ttf);
  }
@font-face {
    font-family: 'League Spartan Regular';
    src: url(LeagueSpartan-Regular.ttf);
  }
 
  body{
    overflow-y: hidden;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#left_sidebar{
    width:300px;
    height: 100vh;
    background:#F1EFE7;
    float: left;
}

#logo{
    position:absolute;
    left: -50px;
    bottom: 25%;
    width: 400px;
    height:400px;
}


#header{
    position:relative;
    font-family: 'League Spartan Bold';
    font-size: 80px;
    left: 370px;
    top: 70px;
}

input[type=email]{
    position:relative;
    left: 180px;
    top: 60px;
    margin-bottom: 20px;
    font-family: 'League Spartan Regular';
    padding: 10px 10px;
    width: 50%;
    border-color: #CFCFCF;
    font-size: 20px;

}

input[type=password]{
    position:relative;
    left: 180px;
    top: 60px;
    margin-bottom: 20px;
    font-family: 'League Spartan Regular';
    padding: 10px 10px;
    width: 50%;
    border-color: #CFCFCF;
    font-size: 20px;
}

#forgot_password {
    position: relative;
    left: 180px; 
    top: 50px; 
    font-family: 'League Spartan Regular';
    font-size: 14px;
    color: #8C756A;
    text-decoration: none;
    display: inline-block;
    width: 50%;
    text-align: right;
    font-size: 20px;
}

#login{
    position:relative;
    left: 180px;
    top: 70px;
    width:50%;
    padding: 15px;
    font-family: 'League Spartan Regular';
    color:#8C756A;
    background-color: #F1EFE7;
    border:none;
    font-size: 20px;
}

#facebooklogin{
    width:30%;
    position:relative;
    left: 300px;
    top: 70px; 
}


p{
    font-family: 'League Spartan Regular';
    font-size: 20px;
    position:relative;
    align-items: center;
    left: 27%;
    top: 20px; 
    bottom:0;
}