@font-face {
    font-family: 'League Spartan Bold';
    src: url(LeagueSpartan-Bold.ttf);
  }
@font-face {
    font-family: 'League Spartan Regular';
    src: url(LeagueSpartan-Regular.ttf);
  }
 
  body{
    overflow-y: hidden;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#left_sidebar{
    width:300px;
    height: 100vh;
    background:#F1EFE7;
    float: left;
}

#logo{
    position:absolute;
    left: -50px;
    bottom: 15%;
    width: 400px;
    height:400px;
}

#header{
    position:relative;
    font-family: 'League Spartan Bold';
    font-size: 80px;
    left: 370px;
    top: 70px;
}

input[type=email],input[type=password],input[type=username],input[type=confirmpassword]{
    position:relative;
    left: 180px;
    top: 30px;
    margin-bottom: 20px;
    font-family: 'League Spartan Regular';
    padding: 20px 20px;
    width: 50%;
    border-color: #CFCFCF;
    font-size: 20px;

}


#signup{
    position:relative;
    left: 180px;
    top: -70px;
    width:50%;
    padding: 25px;
    font-family: 'League Spartan Regular';
    color:#8C756A;
    background-color: #F1EFE7;
    border:none;
    font-size: 20px;
}

#facebooklogin{
    width:30%;
    position:relative;
    left: 300px;
    top: 110px; 
}

p{
    font-family: 'League Spartan Regular';
    font-size: 20px;
    position:relative;
    left: 390px;
    top: -10px; 
    bottom:0;
}